server/config/lib/flows/.flow.json.backup
[
    {
        "id": "3d23a690.5439ea",
        "type": "tab",
        "label": "CoOp",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9d8158f6.4fcea8",
        "type": "function",
        "z": "3d23a690.5439ea",
        "name": "Demo data",
        "func": "msg.payload = {\n    \"data\": {\n        \"key1\": \"val1\",\n        \"key2\": \"val2\",\n        \"key3\": \"val3\",\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c5fd80ca.f86",
        "type": "inject",
        "z": "3d23a690.5439ea",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "9d8158f6.4fcea8",
                "200f2e15.62e462"
            ]
        ]
    },
    {
        "id": "ace63d5a.325ef",
        "type": "debug",
        "z": "3d23a690.5439ea",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 300,
        "wires": []
    },
    {
        "id": "200f2e15.62e462",
        "type": "function",
        "z": "3d23a690.5439ea",
        "name": "Contract",
        "func": "// Receives from speckle\n// Tested before passing to client\n\n// Contract\n\n// if failed, return to sender (events)\n// if passed, notify receiver (events)\n\n// https://github.com/sefaira/rho-contracts.js\n\nvar c= global.get(\"contracts\")\nlet val = 0\nlet x = function(y){\n    val = c.number.check(y)\n}\nx(2)\nmsg.payload = {\n    x: val\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "ace63d5a.325ef"
            ]
        ]
    }
]